body {
	background-color: #ebf8ff;
	margin: 5%;
}

.registration {
  align-content: center;
  justify-content: center;
  margin: 1rem 20rem;

}

.head {
	border-top: 10px solid #4285F4;
    border-radius: 10px;
    justify-content: center;
    align-content: center;
    padding: 30px;
    margin: 5px;
    background-color: #fff;
}

.head > h1 {
	font-size: 30px;
}

span {
  color: red;
}

.email, .name,.number, .fee, .fees, .location, .school {
	
	border-radius: 10px;
	justify-content: center;
	align-content: center;
	margin-top: 30px;
	height: auto;
	padding: 30px;
	background-color: #fff;
	box-shadow: 1px;
}

.fee, .fees {
	height: auto;
}

input {
	border: none;
	border-bottom: 1px solid grey;
	margin-top: 20px;
}

.kin {
	border-radius: 10px;
	justify-content: center;
	align-content: center;
	margin-top: 30px;
	height: auto;
	padding: 30px;
	background-color: #fff;
}

.join, .about {
	border-radius: 10px;
	justify-content: center;
	align-content: center;
	margin-top: 30px;
	height: auto;
	padding: 30px;
	background-color: #fff;
}

.join input {
  width: 100%;
}

#footer > input {
	height: 35px;
	background-color: #287cfb;
	color: #fff;
	border-radius: 10px;
  padding: 10px 30px;
}

.page > ul > li{
	list-style: none;
	float: right;	
}


.reCAP {
  display: flex;
  flex-direction: row-reverse;
  text-align: center;
  justify-content: center;
  align-content: center;
}

.reCAP a {
  margin-right: 5px;
  color: grey;
  font-size: 12px;
  padding: 5px;
}

.cap {
  text-align: center;
  margin: 5px;
  margin-bottom: -20px;
  padding-left: 20px;
  color: grey;
}

.img {
  width: 35px;
  height: 35px;
}

.links {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  color: grey;

}

.warn {
  font-weight: bold;
  color: grey;
  font-size: 10px;
}

.links a {
  font-size: 12px;
  font-weight: bold;
  color: grey;
}

.google span {
  font-weight: bold;
  color: grey;
  margin-right: 3px;
}

.google {
  text-align: center;
  color: grey;
  font-weight: 450;
}